{% extends "sms_api/base.html" %}
{% load static %}
	{% block title %} Dashboard {% endblock title %}

{% block loadhead %}
	        <link rel="stylesheet"  href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> </link>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"> </script>
{% endblock %}




	{% block content %}

<div class="container">
	<!--<br> <br>-->
	    <!--<a href="{% url 'sms_api:api-dashboard'%}" id="refresh" > <button > Refresh </button> </a>-->
	    <!--<a id="prev" > <button >Prev</button> </a>-->
	    <!--<a id="next" > <button >Next</button> </a>-->
	<!--<br> <br>-->

	<table id="smsInfo" class="display table table-bordered" style="width:100% border="1" ">
			<thead>
				<tr>
					<th>Id</th>
					<th>Phone No.</th>
					<th>Message</th>
					<th>Sent Date</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
				<tr>
					<td>{{ data.id }}</td>
					<td>{{ data.phone_no }}</td>
					<td>{{ data.message }}</td>
					<td>{{ data.sent_date }}</td>
				</tr>
				{% endfor %}
			</tbody>

	</table>

	{% if datas.has_other_pages %}
	  <ul class="pagination">
		{% if datas.has_previous %}
		  <li><a href="?page={{ datas.previous_page_number }}">&laquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&laquo;</span></li>
		{% endif %}
		{% for i in datas.paginator.page_range %}
		  {% if datas.number == i %}
			<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		  {% else %}
			<li><a href="?page={{ i }}">{{ i }}</a></li>
		  {% endif %}
		{% endfor %}
		{% if datas.has_next %}
		  <li><a href="?page={{ datas.next_page_number }}">&raquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&raquo;</span></li>
		{% endif %}
	  </ul>
	{% endif %}

</div>

<!--<script type="text/javascript" src="{% static 'sms_api/js/dashboard.js' %}"></script>-->

	{% endblock %}
        <!--<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"> </script>-->



{% block extrascript %}

{% endblock %}